.root {
  margin: 0 auto;
  background-color: #b0ff61;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  max-width: 1280px;
  font-family: "Montserrat", sans-serif;
}

.content {
  min-height: calc(100vh - 80px);
}

.title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 62px;
  line-height: 103.4%;
  color: #000000;
}

.container {
  display: flex;
  flex-direction: column;
}

.convert-button {
  max-width: 300px;
}

.number-input {
  max-width: 180px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 100%;
  color: #000000;
  padding: 7px 17px;
  padding-right: 0px;
}

.number-input:placeholder-shown {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 100%;
  color: #000000;
  min-width: 135px;
}

.main-paragraph {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 100%;
  color: #000000;
  display: inline;
  line-height: 200%;
  /* display: flex;
  flex-wrap: wrap;
  gap: 18px;
  align-content: center;
  align-items: center; */
}

.btn {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 100%;
  color: #4e8a12;
  background: #98ea47;
  border-radius: 1400.94px;
  padding: 7px 17px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  margin-right: 5px;
}

.btn:last-child {
  margin-right: 0;
}

.active-from {
  color: #ffffff;
  background-color: #000000;
}

.active-to {
  color: #ffffff;
  background-color: #000000;
}

.btn:hover {
  transform: scale(0.95);
}

.btn-container {
  display: inline;
  /* gap: 7px;
  display: inline-flex; */
}

.convert-result {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 100%;
  color: #000000;
  background-color: white;
  padding: 7px 17px;
}

.footer {
  display: flex;
  align-items: center;
  gap: 20px;
  border-top: 1px solid;
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 1280px;
}

.link {
  cursor: pointer;
  text-decoration: none;
}

.error {
  display: none;
}

.error-active {
  display: inline;
  margin-left: 5px;
}

.input-container {
  display: inline;
}

.number-input-type-error {
  background: transparent;
  border: none;
  color: #ff0000;
}

.input-container-type-error {
  background: rgba(255, 0, 0, 0.25);
  border: 1px solid #ff0000;
  color: #ff0000;
  margin-right: 5px;
}

@media screen and (max-width: 1310px) {
  .root {
    padding-left: 30px;
    padding-right: 30px;
  }
}
